<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department" parallel = "tests" thread-count = "6">
	<listeners>
		<listener class-name = "demoPac.Listeners" />
	</listeners>
  <test thread-count="5" name="Personal Loan" parallel = "classes" >
  	<parameter name="URL" value="========www.personalloan.com==========="/>
    <classes>
      <class name="demoPac.day1">
      	<methods>
      		<exclude name = "Demo2"/>
      	</methods>
      </class>
      <class name="demoPac.day2"/>
      <class name="demoPac.day4"/>
    </classes>
  </test>
  
  <test name= "Car Loan">
  	<parameter name="URL" value="========www.carloan.com==========="/>
  	<parameter name="APIKey" value="123456789"/>
  	<classes>
  		<class name = "demoPac.day3">
			<methods>
  				<exclude name = "Api.*"/>
  			</methods>
  		</class>
  	</classes>
  </test>
</suite> 
